/* COLORS */
$color-header-bg: #1519FF;
$color-sepa: #b3b3b3;
$color-text: #676767;
$color-accent: #FEF653;
$color-price-bg: #F4F4F4;
$color-input-border: #cccccc;

/* FONT */
$font-sg: 'Space Grotesk', 'Arial', 'Tahoma', 'sans-serif';
$font-hn: 'Helvetica Neue', 'Arial', 'Tahoma', 'sans-serif';
