@import '../vars';

body.welcome {
  max-height: 100vh;
  background: #131e38b5;
  padding: 90px 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-width: 460px;

  .welcome {
    position: relative;

    &-git {
      position: absolute;
      right: 20px;
      top: 0;
      display: block;
      width: 100px;
      height: 40px;
      padding: 10px;
      background: url(/img/git.png) center bottom no-repeat transparent;
      background-size: contain;
      filter: invert(1);
    }

    &-hello {
      position: absolute;
      left: 50%;
      top: 19%;
      color: white;
      font-size: 71px;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 20px 20px 20px 0;
      z-index: 1;
      background: #171716;
      line-height: 1em;
      animation-name: hello-fadeout;
      animation-duration: 3s;
      animation-delay: 6s;
      animation-fill-mode: forwards;



      @media screen and (max-width: 767px) {
        border-radius: 10px 10px 10px 0;
        padding: 10px 15px;
        font-size: 30px;
      }
    }

    &-logos {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      margin: 40px auto 0;
      background: white;
      padding: 0 30px;

      &::before {
        content: '';
        display: block;
        min-width: 1980px;
        height: 120px;
        top: 50%;
        left: 50%;
        position: absolute;
        background: #fff;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-top: 1px solid $color-sepa;
      }

      & > div {
        &.npm,
        &.gulp,
        &.scss,
        &.jquery {
          width: 80px;
          height: 80px;
          margin: 20px;
        }

        &.npm {background: url('/img/npm.png') center no-repeat; background-size: contain;}
        &.gulp {background: url('/img/gulp.png') center no-repeat; background-size: contain;}
        &.scss {background: url('/img/scss.png') center no-repeat; background-size: contain;}
        &.jquery {background: url('/img/jquery.png') center no-repeat; background-size: contain;}
      }
    }

    &-bg {
      text-align: center;
      position: relative;
      img {
        z-index: 1;
        max-width: 1024px;
        min-width: 320px;
        width: 100%;
      }
    }

    &-links {
      margin-top: 40px;
      text-align: center;
      font-size: 24px;
      color: black;

      a,
      a:visited {
        color: #fff;
      }

      a {
        line-height: 2em;
        position: relative;
        text-decoration: none;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: -4px;
          height: 2px;
          width: 0;
          transition: .3s;
          background: #fff;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  footer {
    margin-top: 0;
    padding-top: 40px;
    color: #fff;

    a, a.visited {
      color: #fff;
    }
  }
}

@keyframes hello-fadeout {
  from {opacity: 1;}
  to {opacity: 0; top: -400px;}
}